# Gradle
.gradle/
build/

# Maven

.mvn/

# IntelliJ
.idea/
*.iws
*.iml
*.ipr

# STS / Eclipse
.metadata/
.springBeans/
*.launch
*.launch4j
*.project
*.settings/
*.classpath
*.factorypath
*.wtpmodules
*.m2/

# Logs
logs/
*.log

# Eclipse Temp
.tmp/
*.bak
*.swp
*.air
*. Nicole
*.class
*.log
*.pid
*.dump
*.tar.gz
*.zip
*.jar
*.war
*.ear
*.aar
*.rar
*.7z
*.gzip
*.tgz
*.tar
*.archive
*.tar.bz2
*.bz2
*.xz
*.exe
*.dll
*.dylib
*.so
*.deb
*.rpm
*.ipa
*.apk
*.app
*.dmg
*.iso
*.msi
*.bin
*.cab
*.deb.part
*.rpm.part

# Native Library
lib/

# Mac OS
.DS_Store
.AppleDouble
.LSOverride

# Thymeleaf
target/

# Maven
mvnw/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.backup
release.properties
dependency-reduced-pom.xml

# Tomcat
temp/
work/

# Operating System Files
.DS_Store
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db